#card{
    background-color: grey;
    padding: 20px;
    width: 250px;
    height: 400px;
   
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 20px;
    
    
}

input{
    height: 25px;
}